<script id="templates/indexHome.html" type="text/ng-template">
<ion-view view-title="首页" ng-controller="SlideCtrl">
<!-- 图片轮播 -->
      <ion-slide-box class="slides">
        <ion-slide class="box" ng-repeat="item in countEm">
          <ion-content>
            <img ng-src="{{ item }}">
          </ion-content> 
        </ion-slide>
      </ion-slide-box>
<!-- 酒店介绍 -->
<div class="list">
    <a class="item item-thumbnail" href="#/tab/introduction">
      <h1 class="energized">4.9分</h1>
      <h2 class="energized">棒极了</h2>
      <p>100%好评</p>
      <p>84条评论></p>
      <img src="cover.jpg">
    </a>
</div>
<!-- 查看评论 -->
<a href="#/tab/evaluation"><div style="margin-bottom: 0px; margin-top: -9px;"><button class="button button-full">查看评论</button></div></a>
<!-- 选择房型 -->
<div class="row" style="margin-top: -25px;">
  <a class="button button-stable button-full button-positive col">全日房</a>
  <div class="line"></div>
  <a href="" class="button button-stable button-full col">小时房</a>
</div>
<!-- 日期 -->
    <div class="row">
      <div class="col">
        <h3>日</h3>
        <h3>期</h3>
      </div>
      <div class="col">
      <h6>2015年11月23日入住</h6>
      <h6>2015年11月24日离店</h6>
      </div>
      <a href="#/tab/date" class="col button button-icon icon ion-chevron-right"></a>
</div>
</ion-view>
</script>
