<script id="template/indexEvaluation.html" type="text/ng-template">
	<div class="bar bar-header bar-positive">
    <a class="button icon button-icon ion-chevron-left"></a>
    <h1 class="title">所有评论</h1>
  </div>
  <div class="scroll-content  has-header">
  <div class="list">
    <div class="item item-avatar" href="#">
      <img src="__IMG__/tupian.png" >
      <div class="row">
        <div class="col col-33">      
          <h2>Venkman</h2>
        </div>
        <div class="col"><img src="__IMG__/star.png"></div>
      </div>
      <p>很好，值得推荐</p>
      <div class="item-thumbnail">
        <img src="__IMG__/rujia1.jpg">
        <img src="__IMG__/rujia1.png">
      </div>
    </div>
  </div>
  </div>
</script>