仓库概览
	<div>
        <a class="button"  href="{:U('add',I('get.'))}" >添加仓库信息</a>
    </div>
<table>
	<tr>
		<th>序号</th>
		<?php $order = I('get.order') ?>
		<?php $by = I('get.by') ?>
		<th><a href="<eq name='order' value="desc"> {:U('index?order=asc&by=id', I('get.'))}  
		<else/> {:U('index?order=desc&by=id', I('get.'))} </eq>">ID</a></th>
		<th>时间</th>	
		
		<th>仓库货物改变量</th>
		<th>剩余库存</th>
		
		<th>操作</th>
		
	</tr>
	<tr>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	</tr>
	<foreach name="M:getWarehouse()" item="warehouse" key="k">
	<tr>
		<td>{$k+1}</td>
		<td>{$warehouse[id]}</td>
		<td>{$warehouse[date]}</td>
		
		<td>{$warehouse[change]}</td>
		<td>{$warehouse[surplus]}</td>
		<td><a class="button" href="{:U('detail?id='.$warehouse['id'],I('get.'))}">查看</a>&nbsp;&nbsp;
		<a class="button" href="{:U('edit?id='.$warehouse['id'], I('get.'))}">编辑</a>&nbsp;&nbsp;
		<a class="button" href="{:U('delete?id='.$warehouse['id'],I('get.'))}">删除</a></td>
	</tr>
	</foreach>
	
</table>


<Yunzhi:page />
<style type="text/css">
	td
	{
		text-align: center;
	}
</style>
