<script id="templates/indexEvaluation.html" type="text/ng-template">
  <ion-view view-title="查看评论">
  <div class="bar bar-header bar-positive">
    <a class="button icon button-icon ion-chevron-left"></a>
    <h1 class="title">所有评论</h1>
  </div>
  <div class="scroll-content  has-header">
    <div class="list">
      <div class="item item-avatar" href="#">
        <img src="__IMG__/tupian.png" >
        <div class="row">
          <div class="col col-33">      
            <h2>Venkman</h2>
          </div>
          <div class="col"><img src="__IMG__/star.png"></div>
        </div>
        <p>很好，值得推荐</p>
        <div class="item-thumbnail">
          <img src="__IMG__/rujia.jpg">
          <img src="__IMG__/rujia.jpg">
        </div>
      </div>
    </div>
     <a class="button button-block button-positive" href="#/tab/evaluationing">提交评论</a>
  </div>

</ion-view>
</script>