
<a class="buttom" href="{:U('add')}">
    添加用户
</a>
<table>
    <thead>
        <tr>
            <th>序号</th>
            <th>NAME</th>
            <th>EMAIL</th>
            <th>PHONE</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
    <foreach name="users" item="user" key="k">
        <tr>
            <td>{$k+1}</td>
            <td>{$user[name]}</td>
            <td>{$user[email]}</td>
            <td>{$user[phone]}</td>
            <td>
            <a class="button" href="{:U('detail?id='.$user['id'])}">查看</a>
            <a class="button" href="{:U('edit?id='.$user['id'].'p='.$p)}">编辑</a>
            <a class="button" href="{:U('delete?id='.$user['id'])}">删除</a>
        </tr>
    </foreach>
    </tbody>
</table>
<div>{$page}</div>
