<!DOCTYPE html>
<html ng-app="yunzhiclub">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="__LIB__/ionic/css/ionic.css" rel="stylesheet">
  <link href="__CSS__/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->


  <!-- ionic/angularjs js -->
  <script src="__LIB__/ionic/js/ionic.bundle.js"></script>

  <!-- your app's js -->
  <script src="__JS__/app.js"></script>

</head>
<body ng-controller="MyCtrl">
  <div class="bar bar-header bar-positive">
    <a class="button icon button-icon ion-chevron-left"></a>
    <h1 class="title">评论成功</h1>
  </div>
<div class="scroll-content has-header padding commentsok">
  <img src="__IMG__/mark.png">
  <h3>点评成功!</h3>
  <h3>获得积分+5</h3>

  <div class="padding">
  <button class="button button-positive button-block">我的积分</button>
  <button class="button button-positive button-block">确定</button>
  </div>
</div>
</body>
</html>
<style type="text/css">
.commentsok
{
  text-align: center;
}
  
</style>
