<link rel="stylesheet" type="text/css" href="__CSS__/bootstrap.min.css">
<h1>职工信息表</h1>
	<div>
        <a  href="{:U('add',I('get.'))}" class="btn btn-primary"><i class="glyphicon glyphicon-plus"></i>添加用户</a>
    </div>
    <div>
        <a class="button"  href="{:U('Post/Index/index',I('get.'))}" >查看岗位</a>
    </div>
   
    <form action="{:U('index?p=', I('get.'))}" method="get">
    <div>
    	<input type="text" placeholder="search" name="keywords" value ="{:I('get.keywords')}"
         ></input>
    	<button id="search" type="submit">搜索</button>
    </div>
	<table class="table table-bordered table-striped table-hover">
		<tr>
			<th>序号</th>
			<?php $order = I('get.order') ?>
			<?php $by =I('get.by')?>
			<th><a href="<eq name='order' value="desc"> {:U('index?order=asc&by=id', I('get.'))}  
			<else/> {:U('index?order=desc&by=id', I('get.'))} </eq>">ID</a></th>	
			<th>name</th>
			<th>手机号</th>
			<th>邮箱</th>
			<th>部门</th>
			<th>岗位</th>
			<th>操作</th>
		</tr>
		<foreach name="M:getUsers()" item="user" key="k">
			<tr>
				<td>{$k+1}</td>
				<td>{$user[id]}</td>
				<td>{$user[name]}</td>
				<td>{$user[phonenumber]}</td>
				<td>{$user[email]}</td>
				<td>
				<foreach name="M:getDepartmentsByUserId($user['id'])" item="department">
				<!-- {:dump($department)} -->
				{:$department['department_name']}
				<br />
				</foreach>
				</td>
				<td><foreach name="M:getPostsByUserId($user['id'])" item="post">
				{:$post['post_name']}
				<br />
				</foreach></td>
				<td><!-- <a class="button" href="{:U('detail?id='.$user['id'],I('get.'))}">查看</a>&nbsp;&nbsp; -->
				<a class="button" href="{:U('edit?id='.$user['id'], I('get.'))}">编辑</a>&nbsp;&nbsp;
				<a class="button" href="{:U('delete?id='.$user['id'],I('get.'))}">删除</a></td>
			</tr>
		</foreach>	
	</table>
	</form>

	
	<Yunzhi:page />


