<!DOCTYPE html>
<html ng-app="yunzhiclub">







<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link href="__LIB__/ionic/css/ionic.css" rel="stylesheet">
  <link href="__CSS__/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
  -->


  <!-- ionic/angularjs js -->
  <script src="__LIB__/ionic/js/ionic.bundle.js"></script>

  <!-- your app's js -->
  <script src="__JS__/app.js"></script>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <style type="text/css">
    body, html,#allmap {width: 100%;height: 100%;overflow: hidden;margin:0;font-family:"微软雅黑";}
  </style>
  <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=U7N6PIKHKGEKgXmi5wqNfItn"></script>
  <title>地址解析</title>

</head>
<body ng-controller="MyCtrl">


<div id="allmap"></div>

<div class="bar bar-header bar-positive">
  <a href="#/app/capture" class="button button-icon icon ion-chevron-left"></a>
  <h1 class="title">我的周边</h1>
  <a href="#/app/capture" class="button button-icon icon ion-gear-a"></a>
</div>


</ion-content>

<div class="tabs tabs-icon-top tabs-positive">
  <a class="tab-item">
    <i class="icon ion-home"></i>
      首页
  </a>
  <a class="tab-item">
    <i class="icon ion-location"></i>
      搜周边
  </a>
  <a class="tab-item">
    <i class="icon ion-ios-list"></i>
      活动
  </a>
  <a class="tab-item">
    <i class="icon ion-person"></i>
      个人中心
  </a>
</div>
</body>
</html>

<script type="text/javascript">
  // 百度地图API功能
  var map = new BMap.Map("allmap");
  var point = new BMap.Point(117.223579,39.119671);
  map.centerAndZoom(point,12);
  // 创建地址解析器实例
  var myGeo = new BMap.Geocoder();
  // 将地址解析结果显示在地图上,并调整地图视野
  myGeo.getPoint("天津市河西区凯德国贸中心C座（近小白楼地铁站C出口）", function(point){
    if (point) {
      map.centerAndZoom(point, 16);
      map.addOverlay(new BMap.Marker(point));
    }else{
      alert("您选择地址没有解析到结果!");
    }
  }, "天津市");
</script>


